@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

html{
    --poppins : 'Poppins', sans-serif;
    --gray1 : #525252;
    --gray2 : #a3a3a3;
    --gray3 : #d4d4d4;
    font-size: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    height : 100vh;
}

.result-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 2rem;
}